<!DOCTYPE html>
<html>
  <head>
    <title>BeatCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.track1aURL = "<%= image_url('track1a.png') %>";
      window.track2URL = "<%= image_url('track2.png') %>";
      window.track3URL = "<%= image_url('track3.png') %>";
      window.track4URL = "<%= image_url('track4.png') %>";
      window.track5URL = "<%= image_url('track5.png') %>";
      window.track6URL = "<%= image_url('track6.png') %>";
      window.track7URL = "<%= image_url('track7.png') %>";
      window.track8URL = "<%= image_url('track8.png') %>";
      window.track9URL = "<%= image_url('track9.png') %>";
      window.track10URL = "<%= image_url('track10.png') %>";
      window.track11URL = "<%= image_url('track11.png') %>";
      window.track12URL = "<%= image_url('track12.png') %>";
      window.teaserBgURL = "<%= image_url('teaser-background.png') %>";
      window.mobileURL = "<%= image_url('mobile.png') %>";
      window.appleURL = "<%= image_url('dlapple.png') %>";
      window.androidURL = "<%= image_url('dlandroid.png') %>";
      window.logoURL = "<%= image_url('logo.png') %>";
      window.navURL = "<%= image_url('nav.jpg') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
